    <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="https://github.com/bilalasd/phonegap-plugin-ringer-mode"
            id="phonegap-plugin-ringer-mode" version="1.0.4">
        <name>Ringer Mode</name>
        <description>Plugin to access set and get android ringer mode</description>
        <license></license>
        <keywords>ringer mode, silent, vibrate</keywords>
        <js-module src="www/RingerMode.js" name="RingerMode">
            <clobbers target="RingerMode" />
        </js-module>
        <platform name="android">
            <config-file target="config.xml" parent="/*">
                <feature name="RingerMode">
                    <param name="android-package" value="org.cordova.plugin.RingerMode"/>
                </feature>
            </config-file>
            <source-file src="src/android/RingerMode.java" target-dir="src/cordova/plugin/"/>
        </platform>
    </plugin>
